{% extends 'base.html.twig' %}
{% set title_lesson = course.slug %}

{% block title %}ECO IT |
	{{ title_lesson|upper }}
{% endblock %}

{% block body %}
	<div class="container-fluid g-0 course__one__container" id"courseOneContainer">
		<section class="container mb-4">
			<div class="row px-5">
				<div class="col-12">
					<h1 class="d-flex flex-column justify-content-center align-items-center fw-bold h2 mb-4 course__one__container__title">
						{{ course.title }}
						{% if courseProgressState %}
							{% if courseProgressState.state %}
								<div class="d-flex mt-2">
									<span class="badge bg-secondary">Cours</span>
									<span class="badge bg-success ms-2">Terminée</span>
								</div>
							{% else %}
								<div class="d-flex mt-2">
									<span class="badge bg-secondary">Cours</span>
									<span class="badge bg-danger ms-2">En apprentissage</span>
								</div>
							{% endif %}
						{% endif %}
					</h1>
					{% if userProgressState and userProgressState.state %}
						<div class="d-flex flex-column justify-content-center align-items-center">
							<h2 class="text-center h3">
								Félicitations, vous avez terminé ce cours !
								C'est le moment de répondre au Quiz !
							</h2>
							<a 
								class="btn btn-primary btn-block my-2 text-white"
							>
								Commencer le Quiz
							</a>
						</div>
					{% endif %}
				</div>
				<div class="col-12 mt-4 course__one__container__description">
					<h4 class="text-center">Voici ce que nous allons apprendre dans ce cours :</h4>
					<p class="text-center">
						{{ course.description }}
					</p>
				</div>
			</div>
		</section>
		<hr>
		<div class="row px-5 my-5">
			<div class="col-12 text-center">
				<img src="{{ course.image|getPathImage }}" alt="img-fluid" width="200">
			</div>
		</div>
		<!-- ENROLLED ? -->
		{% if isEnrolled %}
			<section class="container">
				<div class="row px-5">
				<!-- FUCKING CRAZY LOOP -->
					<div class="col-12">
						{% if sections %}
							{% include 'components/course.single.loop.html.twig' %}
						{% else %}
							<div class="alert alert-warning">
								<h5 class="text-center">
									Aucune section n'a été créée pour ce cours.
								</h5>
							</div>
						{% endif %}
					</div>
				</div>
			</section>
		{% else %}
			<section class="container">
				<div class="row px-5">
					<div class="col-12">
						<div class="alert alert-warning">
							<h5 class="text-center">
								Vous devez être inscrit pour voir les sections de ce cours.
							</h5>
						</div>
					</div>
				</div>
			</section>
			<section class="container mb-4">
				<div class="row px-5">
					<div class="col-12 mb-4 text-center">
					<!-- USER SUBSCRIBER FORM -->
						{{ form_start(user_subscriber_course_form, {'attr': {
							'id': 'userSubscriberCourseForm',
							'action': path('app_course_subscribe', {'slug': course.slug}),
							}})
						}}
							{{ form_widget(user_subscriber_course_form.course_id, {
								'value': course.id ,
								'id': 'userSubscriberCourseFormCourseId',
								}) 
							}}
						{{ form_widget(user_subscriber_course_form.user_id, {
							'value': app.user.id,
							'id': 'userSubscriberCourseFormUserId',
							}) 
						}}
						<button 
							type="submit" 
							class="btn btn-primary btn-block btn-lg mt-4 text-white"
						>
							Je m'inscris
						</button>
						{{ form_end(user_subscriber_course_form) }}
					</div>
					<div class="col-12" id="userSubscriberCourseFormMessage">
					</div>
				</div>
			</section>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userSubscriberCourse') }}
	{{ encore_entry_script_tags('lessonFinisherCheck') }}
{% endblock %}
