{% extends 'base.html.twig' %}

{% block title %}ECO IT | CONNEXION{% endblock %}

{% block body %}
	<div class="container form__container">
		<!-- FORM -->
		<div class="row">
			<div class="login-form bg-light mt-5 p-5 shadow rounded">
				<form method="post" class="row g-3">
					<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
					<div class="col-12 mb-2">
						<label class="mb-3 required" for="inputEmail">Email</label>
						<input type="email" name="email" id="inputEmail" class="form-control" value="{{ last_username }}" required autofocus>
					</div>
					<div class="col-12">
						<label class="mb-2 required" for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
					</div>

					<div class="form-check">
						<label>
							<input type="checkbox" name="_remember_me" class="form-check-input">
							Se souvenir de moi
						</label>
					</div>

					<div class="col-12">
						<button class="btn btn-lg btn-primary text-white float-end" type="submit">
							Se connecter
						</button>
					</div>

					{# display errors #}
					{% if error %}
						<div class="alert alert-danger alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{# end display errors#}

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
			</div>
		</div>
	</div>
	<!-- DISCLAIMER -->
	<div class="container mt-5">
		<div class="row">
			<div class="col-12 mt-5 mb-2">
				<h4 class="lead mb-4">
					Vous êtes apprenants et vous souhaitez devenir le prochain Linus Torvalds ?
					Vous n'êtes pas encore inscrit ?
				</h4>
				<a href="{{ path('app_register_user') }}" class="btn btn-lg btn-primary text-white">
					Je m'instruis !
				</a>
			</div>
			<div class="col-12 mt-5 mb-2">
				<h4 class="lead mb-4">
					Vous êtes formateurs et vous souhaitez proposer vos formations ?
					Vous n'êtes pas encore inscrit ?
				</h4>
				<a href="{{ path('app_register_instructor') }}" class="btn btn-lg btn-primary text-white">
					Je postule !
				</a>
			</div>
		</div>
	{% endblock %}
