{% extends 'base.html.twig' %}

{% block title %}Inscription Apprenant{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="bg-light mt-4 p-4">
				<h1>Inscription Apprenant</h1>
				{{ form_start(registrationFormUser) }}
				{{ form_row(registrationFormUser.email) }}
				{{ form_row(registrationFormUser.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
				{{ form_row(registrationFormUser.agreeTerms) }}
				<button type="submit" class="btn btn-primary">Inscription</button>
				{{ form_end(registrationFormUser) }}
			</div>
		</div>
	</div>
{% endblock %}
