{% extends 'base.html.twig' %}

{% block title %}ECO IT | INSCRIPTION FORMATEUR{% endblock %}

{% block body %}
	<div class="container form__container">
		<div class="row">
			<div class="bg-light mt-5 p-5 shadow rounded">
				<h1 class="h3 mb-3 font-weight-normal">Inscription Formateur</h1>
				{{ form_start(registrationFormInstructor) }}
				{{ form_row(registrationFormInstructor.email) }}
				{{ form_row(registrationFormInstructor.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
				{{ form_row(registrationFormInstructor.agreeTerms) }}
				<button type="submit" class="btn btn-lg btn-primary text-white float-end">Inscription</button>
				{{ form_end(registrationFormInstructor) }}
			</div>
		</div>
	</div>
{% endblock %}
