{% extends 'base.html.twig' %}

{% block title %}ECO IT | INSCRIPTION APPRENANT{% endblock %}

{% block body %}
	<div class="container form__container">
		<div class="row">
			<div class="bg-light mt-5 p-5 shadow rounded">
				<h1 class="h3 mb-3 font-weight-normal">Inscription Apprenant</h1>
				{{ form_start(registrationFormUser) }}
				{{ form_row(registrationFormUser.email, {
					'attr': {
						'placeholder': 'user@example.com',
					}})}}
				{{ form_row(registrationFormUser.pseudo) }}
				{{ form_row(registrationFormUser.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
				{{ form_row(registrationFormUser.agreeTerms) }}
				<button type="submit" class="btn btn-lg btn-primary text-white float-end">Inscription</button>
				{{ form_end(registrationFormUser) }}
			</div>
		</div>
	</div>
{% endblock %}
