{% for course in courses %}
	<div class="col-12 col-md-6 col-lg-4 my-5">
		<div class="card border-0 shadow p-2 course__card">
			<img class="card-img-top mx-auto pt-3 course__card__image" src="{{ course.image|getPathImage }}" alt="Card image cap">
			<div class="card-body mt-2">
				<h3 class="card-title">{{ course.title }}</h3>
				<p class="card-text">{{ course.description|truncateDescriptionCourse }}</p>
				<a href="{{ path('app_course_show_slug', {'slug': course.slug}) }}" class="btn btn-primary text-white">
					Voir le cours
				</a>
				<p class="card-text mt-4">
					<small class="text-muted">Formateur:
						{{ course.user.firstName }}
						{{ course.user.lastName }}
                    </small>
					<br>
					<small class="text-muted">Crée le
						{{ course.createdAt|date('d/m/Y') }}
                    </small>
				</p>
			</div>
		</div>
	</div>
{% endfor %}
