{% extends 'base.html.twig' %}

{% block title %}
    ECO IT | {{ quiz.title|upper }}
{% endblock %}

{% block body %}
    <div class="container-fluid g-0 quiz__container">
        <!-- SUBTITLE -->
        <section class="container quiz__container__subtitle">
            <div class="row">
                <div class="col">
                    <h1 class="text-center fw-bold h2">C'est l'heure de souffrir !</h1>
                    <h4 class="text-center d-flex align-items-center justify-content-center">
                        <span class="badge bg-primary me-2">QUIZ</span>
                        {{ quiz.title }}
                    </h4>
                    <h5 class="text-center">
                        Essayez de répondre judicieusement à toutes les questions
                        et tentez de gagner un voyage en Ukraine !
                    </h5>
                </div>
            </div>
        </section>
        <!-- QUESTIONS QUIZ -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <h4>
                        {{ quiz.title }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_start(form_quiz, {'attr': {
                        'id': 'quizForm',
                        'data-quiz-id': quiz.id,
                        }}) 
                    }}
                        {{ form_widget(form_quiz) }}
                        <button 
                            type="submit" 
                            class="btn btn-primary text-white"
                            id="quizSubmitButton"
                        >
                            Valider
                        </button>
                        <button
                            type="button"
                            class="btn btn-secondary text-white ms-4 d-none"
                            id="quizCorrectingButton"
                        >
                            Corriger Moi !
                        </button>
                    {{ form_end(form_quiz) }}
                </div>
            </div>
        </section>
        <!-- RESULT -->
        <section class="container">
            <div class="row">
                <div class="col-12" id="quizResult">
                    <!-- JS RESULT -->
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quizSubmitterCheck') }}
{% endblock %}